.basket-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:250px;
  height: 350px;
  border-radius: 100px;
  background: linear-gradient(230deg, #dccce7, #ffb79e);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2),
    inset 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.5s, box-shadow 0.3s;
  font-family: "Rubik";
  text-align: center;

  .panier {
    background: linear-gradient(120deg, #fdd6a7, #ebeef3);
    color: #333333;
  }

  .basket-items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .basket-header {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .basket-type {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .basket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }

  .basket-button {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-family: "Righteous";
    padding: 4px 8px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
      inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  }

  * {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    outline: none;
  }

  .basket-button:hover {
    background-color: #c1b5b5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
      inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    font-family: "Righteous";
    transition: transform 0.5s, box-shadow 0.3s;
  }
  .basket-total-price {
    margin-top: 10px;
  }
}

.basket-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .basket-card {
    width: calc(100% - 50px);
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .basket-card {
    width: calc(100% - 50px);
    margin: auto;
  }
}
