.basket-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  border-radius: 8px;
  background: linear-gradient(120deg, #c3a0d5, #ffa269);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  transition: transform 0.5s, box-shadow 0.3s;
}

.basket-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.basket-card.panier {
  background: linear-gradient(
    120deg,
    rgba(253, 219, 0, 0.8) 0%,
    rgba(235, 237, 238, 0.8) 100%
  );
  color: #333333;
}

.basket-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.basket-description {
  font-size: 16px;
  margin-bottom: 47px;
}

.basket-type {
  font-size: 24px;
  margin-bottom: 10px;
}

.basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.basket-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.basket-button:hover {
  background-color: #c1b5b5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: transform 0.5s, box-shadow 0.3s;
}

.basket-card.saturday {
  background: linear-gradient(
    120deg,
    rgba(253, 219, 0, 0.8) 0%,
    rgba(235, 237, 238, 0.8) 100%
  );
  color: #333333;
}

.basket-card.sunday {
  background: linear-gradient(
    120deg,
    rgba(245, 247, 250, 0.8) 0%,
    rgba(195, 207, 226, 0.8) 100%
  );
  color: #333333;
}

.basket-card.weekend {
  background: linear-gradient(
    120deg,
    rgba(255, 239, 213, 0.8) 0%,
    rgba(255, 190, 118, 0.8) 100%
  );
  color: #333333;
}
