.mapFestival {
  height: 80vh;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .mapFestival {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}