.cart {
  display: flex;
  flex-wrap: wrap;
  font-family: "Righteous";
  justify-content: center; 
  align-items: space-around; 
  margin-top: 150px;
  text-align: center;
  gap: 20px; 
}

.ticket-card {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.3s;
  text-align: center;
}
  

.ticket-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ticket-card.Saturday {
  background: linear-gradient(
    120deg,
    #ecb0d6 0%,
    rgba(235, 237, 238, 0.8) 100%
  );
  color: #333333;
}

.ticket-card.Sunday {
  background: linear-gradient(
    120deg,
    rgba(245, 247, 250, 0.8) 0%,
    #c3a0d5 100%
  );
  color: #333333;
}

.ticket-card.Weekend {
  background: linear-gradient(120deg, #ffa269 0%, #669bb0 60%);
  color: #333333;
}

.ticket-type {
  font-size: 24px;
}

.ticket-price {
  font-size: 20px;
}

.ticket-description {
  font-size: 16px;
}

.ticket-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-button {
  background-color: linear-gradient(
    120deg,
    rgba(245, 247, 250, 0.8) 0%,
    #c3a0d5 100%
  );
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  font-family: "Righteous";
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket-button:hover {
  background-color: #c1b5b5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: transform 0.5s, box-shadow 0.3s;
}

.total-price {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cart {
    margin: auto;
    align-items: flex-start;
  }

  .ticket-card {
    width: calc(50% - 50px);
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .ticket-card {
    width: calc(100% - 50px);
  }
}
