@font-face{
    font-family: "Righteous";
    src: url("../assets/Fonts/Righteous-Regular.ttf");
}

@font-face{
    font-family: "Rubik";
    src: url("../assets/Fonts/Rubik-Regular.ttf");
}

body{
    background-image: url("../assets/Images/Background Image1.jpg");
    background-size: auto 100vh ;
    background-position-x: center;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Righteous";
    font-size: 3.8em;
    color: white;
    margin:0.2em; 
    text-align: center;  
}

.info{
    width:350px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 80%;
    margin:1em 0 2em 0;
}

p{
    font-family: "Rubik";
    color: white;
    font-size: 1em;
    width: 100px;
    text-align: center;
    margin:0;
}

